body{
      background-color: hsl(0, 0%,8%);
      margin: 0px;
      padding: 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    .container{
      background-color: hsl(0, 0%, 12%);
      display: flex;
      flex-direction: column;
      border-radius: 0.5rem;
      align-items: center;
      text-align: center;
      max-width: 375px;
      position: absolute;
    }
    .content{
      padding: 10px;
      position: relative;
    }
    h1{
      color: hsl(0, 0%, 100%);
      font-weight: 700;
      font-family: "Inter";
    }
    p{
      color: hsl(0, 0%, 100%);
      font-style: normal;
      font-weight: 400;
      font-family: "Inter";
    }
    .address{
      color: hsl(75, 94%, 54%);
      font-weight: 600;
      font-family: "Inter";
    }
    span{
      position: relative;
      background-color: hsl(0, 0%, 20%);
      cursor: pointer;
      display: inline-block;
      color: white;
      border-radius: 0.25rem;
      padding: 0.5rem 1rem;
      margin: 0.5rem;
      width: 80%;
      transition: transform 0.3s ease;
      font-weight: 400;
    }
    span:hover{
      background-color: hsl(75, 94%, 54%);
      transform: scale(1.1);
    }
    .author{
      border-radius: 50%;
    }
    a{
      text-decoration: none;
      color: hsl(0, 0%, 100%);
      font-family: "Inter";
    }