@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Kumbh Sans", sans-serif;
}

main{
    max-width: 375px;
    width: 100%;
}

nav{
    width: 100%;
    height: 50px;
    display: flex;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 10px;
}

nav ul li, section ul li{
    list-style: none;
}

nav ul li:nth-child(2){
    margin: auto;
}

.menu, .cart, .avatar, .close-menu{
    cursor: pointer;
}

.numberOfItemsInCart{
    background-color: hsl(26, 100%, 55%);
    color: hsl(0, 0%, 100%);
    border-radius: 4px;
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 12px;
    font-size: 10px;
    z-index: 4;
    margin-left: -32px;
    margin-top: -22px;
}

.avatar{
    height: 25px;
    width: 25px;
}

.avatar:hover{
    cursor: pointer;
    border: none;
    border-radius: 50%;
    border: 2px solid hsl(26, 100%, 55%);
}

.logo{
    margin-left: -120px;
    height: 18px;
}

.mobile-menu{
    display: none;
}

nav #sidebar{
    position: absolute;
    z-index: 3;
    display: block;
}

nav #sidebar ul{
    list-style-type: none;
    display: none;
    position: fixed;
    background-color: hsl(0, 0%, 100%); 
    box-shadow: 125px 6px 0px rgba(0, 0, 0, 0.75);
    width: 23vh;
    height: 100vh;
    padding: 20px;
    line-height: 250%;
}

nav #sidebar ul li:hover:first-child{
    border-right: none;
}

nav #sidebar ul li:hover{
    cursor: pointer;
    transition: border-right 0.3s ease-in;
    border-right: 2px solid hsl(26, 100%, 55%);
}

.thumbnail, .content p{
    display: none;
}

section{
    width: 375px;
    height: 300px;
    position: relative;
}

section ul li img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.button1{
    border-radius: 50%;
    border: none;
    background-color: white;
    position: absolute;
    z-index: 1;
    cursor: pointer;
    top: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    margin: 20px;
}

.button1:nth-child(1){
    left: 0;
}

.button1:nth-child(2){
    right: 0;
}

.button1:hover{
    background-color: #ccc;
    transition: .4s ease-in-out;
    height: 32px;
    width: 32px;
}

.slide{
    position: absolute;
    inset: 0;
}

#cart{
    position: absolute;
    z-index: 3;
    padding: 20px;
    width: 84%;
    height: 70%;
    margin: 10px 10px 10px 10px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    display: none;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    gap: 20px;
}

.heading{
    height: 40px;
    position: relative;
    border-bottom: 1px solid hsl(220, 14%, 75%);
    width: 100%;
}

.content > .filledCart{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.content > .filledCart > .calculated{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.content > .filledCart > .calculated img:nth-child(1){
    height: 60px;
    width: 60px;
    border-radius: 5px;
}

.content > .filledCart > .calculated img{
    height: 18px;
    width: 15px;
}

.content > .filledCart button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: hsl(26, 100%, 55%);
}

.initialPrice, .number, .content > .filledCart > .calculated ul li:nth-child(1){
    color: hsl(220, 14%, 75%);
}

#price{
    color: hsl(220, 13%, 13%);
    font-weight: 700;
}

.deleteIcon, .checkout{
    cursor: pointer;
}

article{
    padding: 10px;
    margin: auto;
}

h1{
    text-transform: uppercase;
    font-size: 80%;
    color: hsl(219, 9%, 45%);
}

h2{
    font-weight: 700;
    color: hsl(220, 13%, 13%);
    font-size: 200%;
}
article p{
    color: hsl(220, 14%, 75%);
    font-weight: 400;
    font-size: 16px;
}

.price{
    display: flex;
    align-items: center;
    gap: 10px;
}

.price span:nth-child(1){
    color: hsl(220, 13%, 13%);
    font-weight: 700;
    font-size: 150%;
}

.price span:nth-child(2){
    background-color: black;
    color: hsl(0, 0%, 100%);
    border-radius: 4px;
    padding: 3px;
    height: 15px;
}

.price span:nth-child(3){
    margin-left: 170px;
    font-size: 80%;
    text-decoration: line-through;
    color: hsl(219, 9%, 45%);
    font-weight: 700;
}

.userchoice{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.userchoice button:nth-child(1){
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 0 10px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: hsl(223, 64%, 98%);
}

.minus-sign{
    height: 4px;
    width: 18px;
}

.minus-sign:hover, .plus-sign:hover{
    cursor: pointer;
}

.userchoice button:nth-child(2){
    display: flex;
    justify-content: center;
    height: 45px;
    align-items: center;
    background-color: hsl(26, 100%, 55%);
    border: none;
    border-radius: 5px;
    box-shadow: 0px 5px 5px hsl(26, 73%, 68%);
}

.userchoice button:nth-child(2) img{
    height: 15px;
}

.userchoice button:nth-child(2):hover{
    cursor: pointer;
    background-color: hsl(26, 71%, 61%);
}

@media(min-width: 768px){
    body{
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    }

    main{
        max-width: 1000px;
        width: 100%;
        margin: 0 auto;
        padding: 30px 20px;
    }

    .main-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 2px;
        padding: 30px;
    }
    
    nav{
        max-width: 1000px;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 20px;
        border-bottom: 1px solid hsl(220, 14%, 75%);
    }

    nav ul{
    background-color: transparent;
    padding: 0;
    gap:30px;
    justify-content: flex-start;
    }

    a{
        color: hsl(220, 13%, 13%); 
        background-color:transparent; 
        text-decoration:none;
        font-weight: 400;
        font-size: 120%;
        
    }

    a:hover{
        border-bottom: 2px solid hsl(26, 100%, 55%);
    }

    main nav ul > .cart:hover{
        border-bottom: none;
    }

    .avatar{
        height: 40px;
        width: 40px;
    }

    .avatar:hover{
        transform: scale(1);
    }

    #sidebar,.close-menu, .menu, .button1, .button2{
        display: none !important;
    }

    .logo{
        margin-left: -196px;
    }
    
    .mobile-menu{
        display: flex;
    }
        
    .images{
        display: flex;
        flex-direction: column;
        position: static;
        position: relative;
    }

    .slide img{
        height: 375px;
        object-fit: cover;
        border-radius: 10px;
    }

    .thumbnail{
        display: flex;
        margin-top: 390px;
        position: absolute;
    }
    
    .thumbnail ul{
        display: flex;
        gap: 14px;
        
    }

    .thumbnail ul li img{
        width: 80px;
        height: 80px;
        border-radius: 10px;
        cursor: pointer;
        border: 2px solid transparent;
    }
   
    .thumbnail ul li img:hover {
        border-color: hsl(26, 100%, 55%);
        opacity: 0.5;
    }

    article {
        width: 400px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 90px;
    }

    article p{
        color: hsl(219, 9%, 45%);
        font-size: 90%;      
    }
    .userchoice{
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .userchoice button:nth-child(1){
        height: 45px;
    }

    .userchoice button:nth-child(2) p{
        color: hsl(220, 13%, 13%);
        font-weight: 700;
        font-size: 120%;
    }

    .price{
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
    }
    .original-price{
        font-size: 80%;
        width: 50%;
    }

    #cart{
        position: relative;
        display: none;
        z-index: 3;
        margin: -50px 600px ;
        box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3), -4px 4px 5px rgba(0, 0, 0, 0.3);
    }

    .lightbox {
        position: fixed;
        top: 0; left: 0;
        width: 100%; 
        height: 100%;
        background-color: rgba(0, 0, 0, 0.75);
        display: none;
        justify-content: center;
        align-items: center;
        z-index: 10;
    }
      
    .lightbox-content {
        position: relative;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
    }
      
    .lightbox-close {
        position: absolute;
        top: -10px;
        right: 10px;
        cursor: pointer;
        transition: transform 0.3s ease;
    }

    .lightbox-close:hover{
        transform: scale(2);
    }
      
    .lightbox-images img {
        width: 400px;
        max-width: 90vw;
        border-radius: 10px;
    }
      
    .lightbox-thumbnails {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 10px;
    }
      
    .lightbox-thumbnails img {
        width: 60px;
        border-radius: 10px;
        cursor: pointer;
        opacity: 0.8;
    }
      
    .lightbox-thumbnails img:hover {
        opacity: 1;
    }
    
    .lightbox-prev, .lightbox-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: white;
        border: none;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
        transition: background-color 0.3s ease;
        z-index: 2;
    }
      
    .lightbox-prev {
        left: 0px;
    }
      
    .lightbox-next {
        right: 0px;
    }
      
    .lightbox-prev:hover, .lightbox-next:hover {
        background-color: hsl(26, 100%, 55%);
    }
      
    .lightbox-prev img, .lightbox-next img {
        width: 12px;
        height: auto;
    } 
      
}

    
